#nav{
    height: 10vh;
    width:100vw;
    box-sizing: border-box;
    background-color:  #ffcb05;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
top: 0;
left: 0;
 z-index: 9999;
}

#nav img{
    max-height: 9vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

input{
    border:0;
    height: 5vh;
font-size: 3vh;
padding: 0.2rem;
}