body {
  margin: 0;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  position: relative;
  
  font-family: 'Nunito', sans-serif;
 background-color: #0075BE;
 overflow: hidden;
 overflow-x: hidden;

}
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

*::-webkit-scrollbar-thumb {
  background-color:  #CE2211;
  border-radius: 20px;
  
}

@media only screen and (max-width: 400px) {
	
 body{
   font-size: 16px;
 }
}